<html lang='fr'>
   <head>
      <meta charset='utf-8' />
      <style>
         .text { padding: 0; margin: 0; white-space: pre-wrap; height: 18px; }
      </style>
      <title></title>
   </head>
   <body>
      <div>
         <p>Un utilisateur veut créer un compte sur la plateforme datalumini d'Aflokkat.</p>

         <div>
            <h4 class='text'>Information utilisateur</h4>
            <p class='text'>{{nom}} {{prenom}}</p>
            <p class='text'>{{email}}</p>
         </div>

         <p>Veuillez vous rendre sur la plateforme pour vérifier le compte.</p>
      </div>
   </body>
</html>