<html lang='fr'>
   <head>
      <meta charset='UTF-8' />
      <style>
         .text { padding: 0; margin: 0; white-space: pre-wrap; height: 18px; }
      </style>
      <title></title>
   </head>
   <body>
      <div>
         <p>{{description}}</p>

         <div>
            <h4 class='text'>Contact : </h4>
            <p class='text'>{{nom}} {{prenom}}</p>
            <p class='text'>{{email}}</p>
         </div>
      </div>
   </body>
</html>