<html lang='fr'>
   <head>
      <meta charset='UTF-8' />
      <meta http-equiv='X-UA-Compatible' content='IE=edge' />
      <meta name='viewport' content='width=device-width, initial-scale=1.0' />
      <style>
         .text { padding: 0; margin: 0; white-space: pre-wrap; height: 18px; }
      </style>
      <title></title>
   </head>
   <body>
      <div>
         <h3>Bonjour {{prenom}} {{nom}} </h3>

         <p>Votre demande de création de compte sur la plateforme datalumini d'Aflokkat a été refusé par notre équipe.</p>

      </div>
   </body>
</html>