.header {
    background: black;

    ul {
        width: 100%;

        list-style: none;
        font-family: $open;
        font-size: $fontSizeSmall;

        display: flex;
        justify-content: space-around;
        align-items: center;

        color: white;

        li {
            margin-left: 50px;
            img {
                width: auto;
                height: 30px;
            }
            text-align: center;
        }

        li[id="reseau"] {
            margin-left: auto;
            margin-right: 30px;
        }
    }
}
