.slider {
    width: 500px;
    overflow: hidden;
    margin: 150px auto;
}

.slides {
    width: calc(500px * 3);
    animation: glisse 15s infinite;
}

.slide {
    float: left;
}

img {
    width: 500px;
    height: 500px;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-500px);
    }
    50% {
        transform: translateX(-500px);
    }
    66% {
        transform: translateX(-1000px);
    }
    86% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}
