// Settings
body {
    background: rgb(30, 30, 30);
    color: white;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    width: 100%;
}
// ***********************

.input {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 1.5rem; // 24px
    // sélectionne les input dessous
    & + .input {
        margin-top: 1.5rem;
    }
}
.input-label {
    position: absolute;
    top: 1.5rem;

    transition: 0.25s ease;
    color: #8597a3;
}

.input-field {
    z-index: 1;
    background-color: transparent;

    border: 0;
    border-bottom: 2px solid #eee;

    padding: 0.25rem 0;
    font-size: 1.125rem;
    text-indent: 2px;

    &:focus,
    &:valid {
        outline: 0;
        border-bottom-color: #6658d3;
        & + .input-label {
            color: #6658d3;
            transform: translateY(-1.5rem);
        }
    }
}

// Style boutton
.action {
    margin-top: 2rem;
}
.action-button {
    font: inherit;
    font-size: 1.25rem;
    color: #fff;
    background-color: #58c2d3;

    padding: 1rem;
    width: 100%;
    border-radius: 6px;
    border: 0;
    &:focus {
        outline: 0;
    }
}
