<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Retour sur questionnaire client</title>
  </head>
  <body>
    <p style="white-space: pre-wrap">{{message}}</p>
  </body>

  <style>
    .nomDuClient { font-weight: bold; } .liste { display: flex; flex-direction:
    row; gap: 32px; list-style: none; } .geste { font-weight: bold; } .accept {
    display: flex; flex-direction: row }
  </style>
</html>