
  <footer>
    <!-- Partage réseaux sociaux -->
    <div id="liens">
      <a href="mailto:?subject=Générateur de cartes de voeux&body=Bonjour, j'ai trouvé un joli et très simple générateur de carte de voeux, je me suis dis que ça pouvait t'intéresser 🙂 https://nouvelan.fr - C'est un projet étudiant d'Aflokkat, Ajaccio" target="_blank" rel="nofollow noreferer noopener" aria-label="partager par mail" ><img class="icon" src="/assets/icones/email128x128.png" alt='e-mail'/></a>
      <a href="https://facebook.com/sharer.php?u=https://nouvelan.fr" target="_blank" rel="nofollow noreferer noopener" aria-label="partager sur facebook"><img class="icon" src="/assets/icones/facebook128x128.png" alt='facebook' /></a>
      <a href="https://twitter.com/intent/tweet?url=https://nouvelan.fr&text=joli%20et%20très%20simple%20générateur%20de%20carte%20de%20voeux,%20projet%20étudiant%20Aflokkat,%20Ajaccio" target="_blank" aria-label="partager sur twitter" rel="nofollow noreferer noopener"><img class="icon" src="/assets/icones/twitter128x128.png" alt='twitter' /></a>
    </div>

    <nav>
      <ul id='navigation-footer'>
        <li><a href="#" class="lienmenu" rel='nofollow'>Mentions légales</a></li>
        <li><a href="/creation.html" class="lienmenu" rel='author'>Application créé par les étudiants d'<i>Aflokkat</i></a></li>
        <li><a href="https://corailfactory.eu" class="lienmenu" target="_blank" rel='author'>Application hébergée par <i>Corail Factory</i></a></li>
      </ul>
    </nav>
  </footer>

