.bodyMid {
    margin-top: 20px;
    width: 100vw;

    &Texte {
        p {
            text-align: center;
            @include sm() {
                font-size: 14px;
            }
        }
    }

    &Images {
        @include flexCenter(space-around);

        @include md() {
            flex-wrap: wrap;
        }

        img {
            width: 20%;

            @include lg() {
                width: 155px;
            }

            @include md() {
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }
}
